# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# Ignore config folder
config

# Ignore vendor folder
vendor

# Ignore composer.lock files
composer.lock

# Ignore backup files
*.bak

# Ignore uploads folder
upload
